.links{
    color: white;
}
.body{
    /* background-color: rgba(144, 148, 148, 0.425); */
}

.imageCard{
    width:200px;
    height: 200px;
    border: solid;
    color: rgb(17, 17, 17);
    float: left;
}

.cardBody{
    background-color: rgba(165, 155, 155, 0.438);
    color: black;
}

.comments{
    background-color: rgba(240, 235, 235, 0.699);
    
}
