.links{
    color: white;
}
.body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(252, 253, 253, 0.993);
    
}

.imageCard{
    width:200px;
    height: 200px;
    border: solid;
    color: rgb(17, 17, 17);
    float: left;
}


.comments{
    background-color: rgba(153, 151, 151, 0.521);
}

.cardTitle{
    color: white;
    font-style: none;
}

.container{
    background-color: rgba(231, 243, 243, 0.329);
    margin-top: 1%;
}
.cardBody{
    border: solid;
    border-color: rgba(3, 3, 3, 0.932);
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
}

.cardPText{
    color: white;
}
